name: JSON check

on:
  push:
    paths:
      - '**.json'
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: json-check
        run: git diff --name-only "$GITHUB_BASE_REF..$GITHUB_SHA" | grep "json" | xargs -n1 -I {} python -m json.tool {} >> /dev/null && exit 0 || echo "NOT valid JSON"; exit 1
