name: JSON check
on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: json-check
        run: find . -iname "*.json" | xargs -n1 -I {} echo python -m json.tool {} >> /dev/null && exit 0 || echo "NOT valid JSON"; exit 1
